* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(64, 128, 223);
}
h1 {
}
.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.contenedor-imagenes {
  background-color: antiquewhite;

  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.contenedor-movimientos {
  background-color: antiquewhite;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.contenedor-abilities {
  background-color: antiquewhite;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.contenedor-types {
  background-color: antiquewhite;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
h2 {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
